<ion-view view-title="media">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        <img class="full-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Sphynx_cat_wearing_clothes.jpg/220px-Sphynx_cat_wearing_clothes.jpg"/>
        <h1>Linked Picture</h1>
      </div>
      <div class="item item-divider">
        <img class="full-image" src="img/catImg.jpeg">
        <h1>Saved Picture</h1>
      </div>
      <div class="item item-divider">
        <img class="full-image" src="img/catgif.gif"/>
        <h1>Animated Gif</h1>
      </div>
      <div class="item item-divider video-container">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/19Ha0D-iuVk" frameborder="0" allowfullscreen></iframe>
      </div>
      <h1>Embedded Video</h1>
    </div>
  </ion-content>
</ion-view>
